<section>
  <h1>User Setting</h1>
</section>

<section>
  <%= render "form", user: current_user %>
</section>

<section>
  <%= link_to "Delete account", user_bye_path(current_user.username), class: "danger" %>
</section>
