<section>
  <hgroup>
    <h2><%= @user.username %></h2>
    <h3><%= pluralize(@lists.count, "List") %></h3>
  </hgroup>
</section>

<% if @is_owner %>
  <section>
    <%= link_to "New list", new_list_path, role:"button" %>
  </section>
<% end %>

<section>
  <ul>
    <% @lists.each do |list| %>
      <%= render list %>
    <% end %>
  </ul>
</section>
