/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --danger: #dc3545;
}

footer {
  text-align: center;
}

a.danger,
input[type="submit"].danger {
  --primary: #bb2d3b;
  --primary-hover: var(--danger);
  --primary-focus: #b02a37;
}

p.danger {
  color: var(--danger);
}

.long-text {
  white-space: pre-wrap;
}

blockquote.remark {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: block;
  display: -webkit-box;
  margin-top: calc(var(--typography-spacing-vertical) / 2);
  margin-bottom: calc(var(--typography-spacing-vertical) / 2);
  max-height: 8rem;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  text-overflow: ellipsis;
}

img.brand {
  height: 3rem;
}

ul.apps {
  padding: 0;
}

ul.apps li {
  display: flex;
  gap: var(--grid-spacing-horizontal);
  align-items: center;
  margin-bottom: var(--typography-spacing-vertical);
}

ul.apps li div {
  flex-grow: 1;
}

img.app {
  width: 144px;
  height: 144px;
  border-radius: 23px;
}
