/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --danger: #dc3545;
}

footer {
  text-align: center;
}

a.danger {
  --primary: #bb2d3b;
  --primary-hover: var(--danger);
  --primary-focus: #b02a37;
}

p.danger {
  color: var(--danger);
}

p.app-description {
  white-space: pre-wrap;
}

img.brand {
  height: 3rem;
}

ul.entries {
  padding: 0;
}

ul.entries li {
  display: flex;
  gap: var(--grid-spacing-horizontal);
  align-items: center;
  margin-bottom: var(--typography-spacing-vertical);
}

img.app {
  width: 144px;
  height: 144px;
  border-radius: 23px;
}
